{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>

    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
    <script type="text/javascript" 
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBaHWZ8lCt3Yn0Hp4YCVvDJvmcEEU39aus&sensor=true&libraries=places">
    </script>

    <script src="{% static "js/main.js" %}"></script>
    <script src="{% static "js/gmaps.js" %}"></script>

    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />
    <link rel="stylesheet" href="{% static "css/main.css" %}" type="text/css" media="screen" charset="utf-8" />

  </head>

  <body>

    <div id="busca">
        
        <form method="post" action="" id="">   

            <fieldset>
         
                <div>

                    <label for="txtEndereco">
                        Estou aqui:
                    </label>

                    <input type="text" id="txtEndereco" name="txtEndereco" />

                </div>

                <div>
                    <input type="button" id="btnEndereco" name="btnEndereco" value="Mostrar no mapa" />
                </div>
         
                <div>
                    <input type="submit" value="Enviar" name="btnEnviar" />
                </div>
         
                <input type="hidden" id="txtLatitude" name="txtLatitude" />
                <input type="hidden" id="txtLongitude" name="txtLongitude" />

            </fieldset>

        </form>

    </div>

    <div id="mapa"></div>

  </body>

</html>
